.contentContainer {
    padding: 3rem 4rem;
    width: 70rem;
    height: 100vh;
    background: var(--white);
    color: var(--cyan-50);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
